html{
height:100%;
}

body{
font-family: Arial;
text-align:center;
background: linear-gradient(45deg,#ff758c,#ff7eb3,#ffd6e0);
background-attachment: fixed;
min-height:100vh;
margin:0;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

#login{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

#birthday{
display:none;
max-width:700px;
padding:30px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
margin:20px;
}

img{
width:300px;
border-radius:20px;
margin-top:20px;
}

button{
padding:10px 20px;
background:#ff7aa2;
border:none;
color:white;
font-size:16px;
cursor:pointer;
border-radius:10px;
}

button:hover{
background:#ff4f87;
}

input{
padding:10px;
border-radius:10px;
border:1px solid #ccc;
}

#error{
color:red;
margin-top:10px;
}

.pesan{
font-size:18px;
line-height:1.6;
margin-top:20px;
}
